RewriteEngine on  // включает работу механизма преобразований

RewriteCond %{REQUEST_FILENAME} !-f // проверет существует ли запрашиваемый файл
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA] // направляет все запросы на главную страницу
